/**
 * ETML
 * Author: Loïc Herzig
 * Date: 07.02.2019
 * Description: main css
 */

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */
.sidebar-heading a {
  text-decoration: none;
  color: #000;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.navbar-toggler-icon {
  height: 23px;
  background-image: url(/svg/navbar-toggler-icon.svg);
}

#menu-toggle {
  margin-top: 10px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* ---------------------------------------------------
    LIST
----------------------------------------------------- */
thead {
    display: table-header-group;
}
tfoot {
    display: table-row-group;
}
tr {
    page-break-inside: avoid;
}

.actions {
  text-align: right;
}

.glyphicon-remove:not(.cross) {
  color: red;
}

.glyphicon-edit {
  color: darkgray;
}

.glyphicon-plus {
  color: green;
}

.tr-borderless th, .tr-borderless td{
  border: none !important;
}

tr.collapse.in {
  display:table-row;
}

.archive-icon {
  width: 15px;
  height: 15px;
  margin-top: -5px;
}

/* ---------------------------------------------------
    GRADES
----------------------------------------------------- */
.semester-hideable {
  color: blue !important;
}

/* ---------------------------------------------------
    FORM
----------------------------------------------------- */
.form-group .alert {
  margin-top: 1rem;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Parcourir";
}

/* ---------------------------------------------------
    PRINT / PDF
----------------------------------------------------- */
div.page {
  page-break-after: always;
  page-break-inside: avoid;
}

/* ---------------------------------------------------
    BOOTSTRAP-SELECT
----------------------------------------------------- */
.bootstrap-select {
  flex: 1 1;
}

.bootstrap-select button {
  margin-left: 1px;
}

.bootstrap-select button .filter-option {
  text-align:center !important;
}
